<head>
    {{#each styleSheet}}
        <link rel="stylesheet" href="./public/css/{{this}}">
    {{/each}}
    <!--    
    <link rel="stylesheet" type="text/css" href="/public/owstyle.css">
	<link rel="stylesheet" type="text/css" href="/public/home-style.css"> -->
</head>

<div class="content">
    <h1>Players - Team Kill</h1>
    <form id="create-player" action="/players" method="post">
        <fieldset>
            <legend>New Player</legend>
            <p>Battle.net Tag: <input type="text" name="p_tag"/></p>
            <p>Player Name: <input type="text" name="p_name"/></p>
        </fieldset>
        <input type="submit" value="Create Player">
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Battle.net Tag</th>
                <th>Player Name</th>
            </tr>
        </thead>
        <tbody>
            {{#each allPlayers}}
            
                <tr>
                    <td><a href="./player/{{p_id}}">{{p_id}}</a></td>
                    <td><a href="./player/{{p_id}}">{{p_tag}}</a></td>
                    <td><a href="./player/{{p_id}}">{{p_name}}</a></td>
                    <td><a href="/removePlayer/{{p_id}}"><button>Delete</button></a></td>
                </tr>
            </a>
            {{/each}}
        </tbody>
        </table>
    </table>
</div>